{% extends "base.html" %}
{% load humanize %}

{% block title %}Editar libro{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Editar libro de "{{ book.name }}"</h2>

    <a href="{% url 'books:show' book.id    %}" class="btn btn-secondary mb-3">
        ← Volver
    </a>

    {% url 'books:update' book.id as update_url %}

    {% include "partials/_books_form.html" with form_action=create_url submit_label="💾 Guardar cambios" initial_name=book.name initial_summary=book.summary initial_published_at=book.published_at initial_author=book.author %}
</div>
{% endblock %}
